.Messages {
}

.messageContainer {
  /* width: 600px;
  display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* grid-gap: 30px; */
  grid-template-areas: "dialog message";
}

.dialogItems {
  grid-area: dialog;
}

.dialogItems .item {
}

.messageItems {
  grid-area: message;
}

.messageItems .item {
}
