.header {
  grid-area: header;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: #f4f5fa;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logotype img {
  width: 150px;
  height: auto;
}
