body {
  font: 400 21px sans-serif;
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.58;
  letter-spacing: -0.003em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.flex-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
